/* layout */

* {
  font-family: "Gowun Dodum", sans-serif;
}

.wrap {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}

/* ////////////////////////////////////////// */
/* header */

.header {
  height: 60px;
  padding: 5px 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: #355764;
  background-color: #fffbe9;
}

/* ////////////////////////////////////////// */
/* input */

.input-form {
  height: 90px;
  background-color: #f4ead5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input-group {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.form-label {
  font-size: 20px;
  /* font-weight: bold; */
  color: #395144;
}

.input-style {
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  height: 40px;
  width: 230px;
}

.input-button {
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  height: 40px;
  width: 130px;
  color: white;
  background-color: #61876e;
  font-size: 18px;
  /* font-weight: bold; */
  cursor: pointer;
}

/* ////////////////////////////////////////// */
/* List */

.list-space {
  padding: 0 20px;
}

.list-space > p {
  color: #224b0c;
  font-size: 25px;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.todo-container {
  width: 280px;
  height: 180px;
  border: 3px solid #8b7e74;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 12px 24px;
}

.todo-container > h2,
div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.button-container {
  margin-top: 25px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.button-container > button {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: white;
}

.delete-btn {
  border: 2px solid red;
  cursor: pointer;
}

.complete-btn {
  border: 2px solid green;
  cursor: pointer;
}
